/* Bottom bar */
.bottom-bar{

  width:90%;               /* عرض البار */
  height:50px;
  background:#ffffff;
  border-radius:40px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* buttons */
.nav-btn{
  flex:1;                  /* تقسيم العرض تلقائياً */
  height:40px;
  max-width:40px;          /* يجعلها دائرة */
  margin:auto;
  border:none;
  background:transparent;
  font-size:20px;
  border-radius:50%;
  cursor:pointer;
  transition:0.2s;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* active button */
.nav-btn.active{
  background:rgb(105, 102, 226);
  color:white;
}

iframe{
  height: 100%;
  width: 100%;
  border: none;
  display: none;
}
iframe.active {
  display: block;
}